            a {
                color: black;
                text-decoration: none;
            }
            .top{
                font-size: 100px;
                color: green;
            }
            #hero {
                color: red;
            }